
$main-header-font:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$main-header-weight:bold;
$main-header-transform:uppercase;

$header-font:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$header-weight:bold;
$header-transform:none;

$text-font:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
