label {
    display: block;
    min-height: $base-line-height;
    @include adjust-font-size-to($base-font-size);
    padding: 0;
    margin: 0;
    &.error{
      //  background:palette("red","500");
      color:palette("red","500");
      //color:text("light-primary");
      padding: $base-line-height/2;
    }
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=search],
select {
    border: 1px solid $border-color;
    padding: $base-line-height/2;
    line-height: $base-line-height*2;
    border-radius: $base-radius;
    width: 100%;
    box-sizing: border-box;
    height: $base-line-height*2;
    &.error{
      border-color:palette("red","A700");
    }
    &.valid{
      border-color:palette("teal","A700");
    }
    margin-top:1px;
    &.fluid{
      width:100%;
    }
}

input[type=checkbox],
input[type=radio] {
    height: $base-line-height;
    padding: 0;
    margin: 0 $base-line-height/2 0 0;
    float: left;
}

input[type=file] {
    box-sizing: border-box;
    height: $base-line-height!important;
    line-height: $base-line-height;
    overflow:hidden;
    border:none;
    display:block;
    margin:0;
    padding:0;
}

textarea {
    border: 1px solid $border-color;
    width: 100%;
    box-sizing: border-box;
    padding-left: $base-line-height/2;
    padding-right: $base-line-height/2;
    height: $base-line-height*5;
    line-height: $base-line-height;
    resize:none;
    display:block;
    border-radius: $base-radius;
}

textarea.richText{
  height: $base-line-height*10;
}
