.row{
  margin-left: -$base-line-height/2;
  margin-right: -$base-line-height/2;
  width:auto;
  &.flex{
    display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
flex-wrap: wrap;

  }
  .row{
    .col{
      margin-bottom:0;
      margin-top:0;
    }
  }
  @include clearfix();
  &.nopadding{
    &>*{
      padding:0;
    }
  }
  &.nomargin{
    margin-left:0;
    margin-right:0;
    &>*{
      margin:0;
    }
@include trailer();

  }
}
.col{
  float:left;
  padding-left:$base-line-height/2;
  padding-right:$base-line-height/2;
  box-sizing: border-box;
  width:100%;
  left:auto;
  right:auto;

  @include rhythm(.5);

@for $i from 1 through $columns
{

  &.phone-#{$i}{
    width:(100% / $columns)*$i;
  }
  &.offset-phone-#{$i}{
    margin-left:(100% / $columns)*$i;
  }
  &.pull-phone-#{$i}{
    right:(100% / $columns)*$i;
  }
  &.push-phone-#{$i}{
    left:(100% / $columns)*$i;
  }
}
@for $i from 1 through $columns
{
  @include media-more-than($phone){
    &.tablet-#{$i}{
      width:(100% / $columns)*$i;
    }
    &.offset-tablet-#{$i}{
      margin-left:(100% / $columns)*$i;
    }
    &.pull-tablet-#{$i}{
      right:(100% / $columns)*$i;
    }
    &.push-tablet-#{$i}{
      left:(100% / $columns)*$i;
    }
  }

  @include media-more-than($tablet){
    &.desktop-#{$i}{
      width:(100% / $columns)*$i!important;
    }
    &.offset-desktop-#{$i}{
      margin-left:(100% / $columns)*$i;
    }
    &.pull-desktop-#{$i}{
      right:(100% / $columns)*$i;
    }
    &.push-desktop-#{$i}{
      left:(100% / $columns)*$i;
    }
  }
}
}
