html body .phone-and-less-show{
  display: none;

  @include media-less-than($phone){
    display: initial;
  }

}
html body .phone-and-less-hide{
  @include media-less-than($phone){
    display: none;
  }

}
html body .tablet-and-less-show{
  display: none;
  @include media-less-than($tablet){
    display: initial;
  }
}
html body .tablet-and-less-hide{
  @include media-less-than($tablet){
    display: none;
  }
}

html body .hidden{
  display:none;
}
